<div class="row">
  <div class="col">
    <div *ngIf="employeeList ;else noEmpList">
      <ag-grid-angular class="ag-theme-balham" [rowData]="employeeList" [columnDefs]="columnDefs">
      </ag-grid-angular>
    </div>

    <ng-template #noEmpList>
      <h4>No Employees List are shown until you logged on.</h4>
      <!-- <p>Click here to <a [routerLink]="['/login']">login</a></p> -->
    </ng-template>
  </div>
  <div class="col">
    <!-- <new-employee></new-employee> -->
    <button [routerLink]="['/dashboard/new']" >Register Employee</button>
    <router-outlet></router-outlet>
  </div>
</div>