<!--The content below is only a placeholder and can be replaced.-->
<div style="border:2px solid blueviolet">
   <h1>
      Welcome to {{ title }}!
   </h1>
   <h2>
      <button routerLink="/year" routerLinkActive="active">Year component</button>
      <button routerLink="/day" routerLinkActive="active">Day component</button>
      <button routerLink="/admin" routerLinkActive="active">Admin</button>
      <button routerLink="/leapyear" routerLinkActive="active">No component</button>
   </h2>
<a [routerLink]="[{ outlets: { popup: ['compose'] } }]">Extra outlet</a>
<h3>Parent routes</h3>
</div>

<router-outlet></router-outlet>
<router-outlet name="popup"></router-outlet>
<!-- Routed views go here -->